@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100vw;
  font-family: "Outfit", sans-serif;
  color: hsl(218, 44%, 22%);
}

.card {
  width: 280px;

  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 15px;
  padding: 10px;
  box-shadow: 0 0 3px hsl(216, 15%, 48%);
  border-radius: 15px;
  text-align: center;
}
.code {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-image: url("./images/image-qr-code.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  padding-top: 10px;
  font-size: 15px;
}
