@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(212, 45%, 89%);
  --font-color: hsl(218, 44%, 22%);
  --shadow-color: hsl(216, 15%, 48%);
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100vw;
  font-family: "Outfit", sans-serif;
  color: var(--font-color);
}

.card {
  width: 320px;
  background-color: hsl(0, 0%, 100%);
  display: grid;
  gap: 15px;
  padding: 1rem;
  box-shadow: 0 0 3px var(--shadow-color);
  border-radius: 15px;
  text-align: center;
}
.code {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-image: url("./images/image-qr-code.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
article {
  padding: 1rem;
}
p {
  padding-top: 1rem;
  font-size: 15px;
  color: var(--shadow-color);
}
